@media (orientation: portrait) {

    html, body {
        font-size: 24pt;
        //background-color: pink;
        height: initial;
    }

    h1 {
        font-size: 3em;
    }

    #content {
        flex-direction: column;
    }

    #middle {
        order: -1;
        flex-direction: row;
    }

    #canvas {
        width: 80%;
        height: auto;
    }

    #buttons {
        flex-direction: column;
    }

    #buttons a {
    	transform: rotate(-90deg);
    	//transform-origin: left top 0;
        margin: 1em 2em;
    }

    .character-picker {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .characters {
        flex-direction: row;
    }

    .character {
    }

    .character-profile {
        height: 4em;
        width: auto;
    }

}
