html, body {
  font-family: Smack Attack, sans-serif;
  font-size: 10pt;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: 'FabFelt', sans-serif;
  font-size: 48pt;
  margin: 0.2em 0 0.05em;
  /*color: lightgrey;
  text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
   -1px 1px 0 black,
    1px 1px 0 black;*/
}

h2 {
    font-weight: 400;
    margin: 0.5em 0;
}

h3 {
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  display: flex;
  justify-content: center;
  height: 100%;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: 100%;
}

#canvas {
  border: 1px solid black;
  height: 90%;
  flex: 1;
  margin: 2em;
}

#buttons {
    display: flex;
    align-items: center;
    align-self: stretch;
}

#buttons a {
    background-color: black;
    margin: 0 2em 1em;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-weight: 700;
    flex: 1;
    text-align: center;
}

.character-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12em;
}

.characters {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  overflow-y: scroll;
  list-style-type: none;
}

.character {
  text-align: center;
  margin: 0.5em 0;
}

.character a {
  text-decoration: none;
  color: black;
  text-shadow:
   -1px -1px 0 white,
    1px -1px 0 white,
   -1px 1px 0 white,
    1px 1px 0 white;
}

.character-profile {
  width: 100%;
  //background-color: rgba(0, 0, 0, 0.5);
}

.character-name {
    padding: 0 0.5em;
}

.character:hover {
  background: repeating-linear-gradient(
    -45deg,
    #ddd,
    #ddd 1px,
    white 1px,
    white 5px
  );
  border: 1px solid lightgrey;
}

.character-selected, character:active {
  background: repeating-linear-gradient(
    -45deg,
    #bbb,
    #bbb 1px,
    white 1px,
    white 3px
  );
  border: 1px solid black;
}

@font-face {
  font-family: 'FabFelt';
  src: url('fonts/fabfeltscript.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Smack Attack';
  src: url('fonts/smackattackbb-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Smack Attack';
  src: url('fonts/smackattackbb-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
