body {
  //background-color: grey;
  font-family: Rosario, sans-serif;
}

h1 {
  //background-color: blue;
  font-family: 'Lucian schoenschrift cat', sans-serif;
  font-size: 72px;
}

#header{
  //background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  //background-color: red;
  display: flex;
  justify-content: center;
}

#canvas {
  height: 80vh;
  border: 1px solid black;
}

.character-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.character {
  text-align: center;
}

.character-profile {
  width: 128px;
}

@font-face {
  font-family: 'Lucian schoenschrift cat';
  src: url('fonts/Lucian Schoenschrift CAT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Kubasta';
  src: url('fonts/Kubasta.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rosario';
  src: url('fonts/Rosario-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rosario';
  src: url('fonts/Rosario-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Rosario';
  src: url('fonts/Rosario-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Rosario';
  src: url('fonts/Rosario-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
